<div class="d-flex align-items-center vh-80">
    <form class="bg-light rounded-2 p-4 mx-auto text-center w-100" @pageLoadTrigger>
        <img src="/assets/images/underground.png" alt="logo" width="75" class="my-3">
        <h1 class="mb-3">Forgot password</h1>
        <p>
            If you have forgotten your password, please enter your email address below. If an account is found, an email
            containing recovery steps will be sent
        </p>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
            <label for="email">Email address</label>
        </div>
        <button type="submit" class="btn btn-primary me-2">Send reset email <i class="bi bi-envelope"></i></button>
        <button class="btn btn-secondary" appBackButton type="button">Back <i class="bi bi-back"></i></button>
    </form>
</div>