<div class="d-flex align-items-center vh-80">
    <form class="bg-light rounded-2 p-4 mx-auto text-center w-100" @pageLoadTrigger>
        <img src="/assets/images/tubetimes.png" alt="logo" width="75" class="my-3">
        <h1 class="mb-3">Login</h1>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
            <label for="email">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <button type="submit" class="btn btn-primary me-2">Login <i class="bi bi-box-arrow-in-right"></i></button>
        <button class="btn btn-secondary" appBackButton type="button">Back <i class="bi bi-back"></i></button>
        <p class="mt-3">Don't have an account? <a routerLink="/register">Register</a></p>
        <p><a routerLink="forgot-password">Forgot password</a></p>
    </form>
</div>