<div *ngIf="status.statusSeverity >= 10" class="alert alert-light border">
    <p class="card-text status-padding"><span>{{status.statusSeverityDescription}}</span><i *ngIf="status.statusSeverity <= 10"
            class="bi bi-check-circle-fill text-success ps-2"></i><i *ngIf="status.statusSeverity > 10" class="bi bi-exclamation-triangle-fill text-warning ps-2"></i></p>
</div>
<div *ngIf="status.statusSeverity < 10 && status.statusSeverity >= 7" class="alert alert-warning">
    <p class="card-text d-flex align-items-center"><span>{{status.statusSeverityDescription}}<i
                class="bi bi-exclamation-circle-fill text-warning ps-2"></i></span><span class="ms-auto"><button
                type="button" (click)="expand()" class="btn btn-warning">Details <div class="d-inline-block"
                    [@chevronToggle]="expanded ? 'expanded' : 'collapsed'"><i class="bi bi-chevron-right"></i></div>
                </button></span></p>
</div>
<div *ngIf="status.statusSeverity < 7" class="alert alert-danger align-button-test">
    <p class="card-text d-flex align-items-center"><span>{{status.statusSeverityDescription}}<i
                class="bi bi-exclamation-diamond-fill text-danger ps-2"></i></span><span class="ms-auto"><button
                type="button" (click)="expand()" class="btn btn-danger">Details <div class="d-inline-block"
                    [@chevronToggle]="expanded ? 'expanded' : 'collapsed'"><i class="bi bi-chevron-right"></i></div>
                </button></span></p>
</div>
<div class="card card-body mb-3" *ngIf="expanded" @fadeInOut>
    {{status.reason}}
</div>