<div @hideOnExit>
    <h2>Line Statuses</h2>
    <form [formGroup]="lineListForm" class="row g-3 mb-3">
        <div class="col-12 col-md-3">
            <label for="lineListSearch" class="form-label">Filter lines</label>
            <input autocomplete="off" formControlName="search" type="search" class="form-control" id="lineListSearch"
                placeholder="e.g. Bakerloo">
        </div>
        <div class="col-12 col-md-2">
            <label for="lineListFilter" class="form-label">Severity</label>
            <select id="lineListFilter" class="form-select" formControlName="filter">
                <option value="">All</option>
                <option [value]="'Good'">Good Service</option>
                <option [value]="'Minor'">Minor Delays</option>
                <option [value]="'Severe'">Severe Delays</option>
            </select>
        </div>
        <div class="col-12 col-md-2">
            <div class="d-flex align-items-end h-100">
                <button class="btn btn-secondary" appBackButton type="button">Back <i class="bi bi-back"></i></button>
            </div>
        </div>
    </form>

    <div class="row g-2" *ngIf="isLoading">
        <div class="col-12 col-xl-3 col-lg-4 col-md-6" *ngFor="let _ of [].constructor(8)">
            <div class="load-wrapper mb-2" style="height: 102px;">
                <div class="activity"></div>
            </div>
            <div class="load-wrapper" style="height: 72px;">
                <div class="activity"></div>
            </div>
        </div>
    </div>

    <div class="row g-2" [@fadeInOutStagger]="lines">
        <div class="stagger-animate col-12 col-xl-3 col-lg-4 col-md-6" *ngFor="let line of lines">
            <div class="card border-0 mb-2" [ngClass]="line.id">
                <div class="card-body">
                    <h5 class="card-title" appSearchHighlight [searchedPhrase]="lineListForm.get('search')?.value"
                        [content]="line.name" [classToApply]="'highlight'"></h5>
                    <a [routerLink]="[line.id]" class="btn btn-outline-light">View Routes</a>
                </div>
            </div>
            <div *ngFor="let status of line.lineStatuses; let i=index">
                <app-line-status [status]="status"></app-line-status>
            </div>
        </div>
        <div class="col-12 stagger-animate">
            <div class="alert alert-info" *ngIf="lines.length == 0 && !isLoading">No lines found.</div>
        </div>
    </div>
</div>
