<nav class="navbar navbar-expand-lg bg-light mb-3">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="/assets/images/tubetimes.png" alt="Logo" height="30" class="d-inline-block align-text-top">
            Tube Times
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/line">Lines</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex position-relative" [formGroup]="searchForm" (appClickOutside)="closeSearch()">
                <div class="input-group me-2">
                    <input class="form-control" formControlName="search" type="search" placeholder="Type to search lines" aria-label="Search">
                </div>
                <ul class="list-group position-absolute top-100 search-results-dropdown" *ngIf="searchResults.length > 0" @fadeInOut style="z-index: 2;">
                    <a tabindex="0" *ngFor="let line of searchResults" class="list-group-item list-group-item-action" [routerLink]="['/line', line.id]" >{{line.name}}</a>
                </ul>
            </form>
            <div class="d-flex mt-2 mt-lg-0">
                <a class="btn btn-primary me-2" routerLink="/login" type="button">Login</a>
                <a class="btn btn-outline-primary" routerLink="/register" type="button">Register</a>
            </div>
        </div>
    </div>
</nav>