<div class="row g-4">
    <div class="col-12 text-center p-4 rounded-2 bg-light">
        <h1 class="display-3">Welcome to Tube Times</h1>
        <h3 class="text-muted">A tool to find information about tube services</h3>
    </div>
    <div class="col-12 col-lg-8 p-4 rounded-2 bg-light">
        <div class="d-flex flex-column flex-lg-row align-items-center">
            <div>
                <img src="/assets/images/tubetimes.png" alt="Tube times logo" class="img-fluid" width="400" id="tubeTimesLogo">
            </div>
            <div class="d-flex flex-column h-100 ps-4 mt-3 mt-lg-0">
                <h2>View live tube line status</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet expedita laborum repudiandae ullam ex
                    excepturi sunt iste quod a odit, doloremque, voluptas porro, iusto tenetur ipsum minus velit dicta
                    optio.
                </p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam quia architecto sunt consequuntur eaque
                    nulla
                    mollitia velit hic deserunt ratione dolores nihil non, exercitationem tempore eveniet aspernatur
                    voluptatem,
                    accusantium maxime.</p>
                <div class="mt-auto">
                    <a class="btn btn-secondary me-2 mt-2 mt-xxl-0 victoria" routerLink="/line/victoria">Victoria</a>
                    <a class="btn btn-secondary me-2 mt-2 mt-xxl-0 bakerloo" routerLink="/line/bakerloo">Bakerloo</a>
                    <a class="btn btn-secondary me-2 mt-2 mt-xxl-0 piccadilly" routerLink="/line/piccadilly">Piccadilly</a>
                    <a class="btn btn-secondary me-2 mt-2 mt-xxl-0 jubilee" routerLink="/line/jubilee">Jubilee</a>
                    <a class="btn btn-secondary me-2 mt-2 mt-xxl-0 northern" routerLink="/line/northern">Northern</a>
                    <a class="btn btn-outline-primary mt-2 mt-xxl-0" routerLink="/line">View All <i class="bi bi-view-list"></i></a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-6 col-lg-4 rounded-2">
        <img class="img-fluid" src="/assets/images/placeholder.png" alt="placeholder">
    </div>
    <div class="col-6 col-lg-4 rounded-2">
        <img class="img-fluid" src="/assets/images/placeholder.png" alt="placeholder">
    </div>
    <div class="col-12 col-lg-8 p-4 rounded-2 bg-light">
        <div class="d-flex flex-column h-100">
            <h2>View tube routes</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet expedita laborum repudiandae ullam ex
                excepturi sunt iste quod a odit, doloremque, voluptas porro, iusto tenetur ipsum minus velit dicta
                optio.
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam quia architecto sunt consequuntur eaque
                nulla
                mollitia velit hic deserunt ratione dolores nihil non, exercitationem tempore eveniet aspernatur
                voluptatem,
                accusantium maxime.</p>
            <div class="mt-auto">
                <a class="btn btn-outline-primary" routerLink="/">View All <i class="bi bi-view-list"></i></a>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-0 rounded-2 bg-light h-100">
            <img src="/assets/images/placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">View timetables</h5>
                <p class="card-text">Some placeholder text</p>
                <a class="btn btn-primary" routerLink="/">Timetables</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-0 rounded-2 bg-light h-100">
            <img src="/assets/images/placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Find a station</h5>
                <p class="card-text">Some placeholder text</p>
                <a class="btn btn-primary" routerLink="/">Find station</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-0 rounded-2 bg-light h-100">
            <img src="/assets/images/placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Plan a journey</h5>
                <p class="card-text">Some placeholder text</p>
                <a class="btn btn-primary" routerLink="/">Plan journey</a>
            </div>
        </div>
    </div>
</div>